*{
    color: #edb1f1;
}

body{
    background-color: #680747;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
}

.carousel{
 overflow: hidden;
 max-width: 600px;
 position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden{
 display: none;
}

.carousel .carousel__item img{
 width: 100%;
}

.carousel .carousel__item--visible{
 display: block;
 animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions{
 display: flex;
 width: 100%;
 justify-content: space-between;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}

.carousel .carousel__actions button{
 border-radius: 50px;
 font-weight: bold;
 cursor: pointer;
 background-color: black;
 color: white;
}

.carousel .carousel__actions button#carousel__button--prev{
 margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next{
 margin-right: 20px;
}

@keyframes fadeVisibility {
  0%{
 opacity: 0;
}
  100%{
 opacity: 1;
 transform: opacity linear;
 }
}

.div_car{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    height: 70vh;
}

.div1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/sweets.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div-txt{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 100px;
}